services:
  backend:
    build: 
      context: ./backend
      dockerfile: Dockerfile
    container_name: mern-backend
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - "3001:3000"
    volumes:
      - ./backend:/app
      - /app/node_modules
    networks:
      - mern-network

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.dev
    container_name: mern-frontend
    restart: unless-stopped
    environment:
      VITE_API_URL: http://localhost:3001/api/todos
    ports:
      - "5173:5173"
    depends_on:
      - backend
    volumes:
      - ./frontend:/app
      - /app/node_modules
    networks:
      - mern-network



networks:
  mern-network:
    driver: bridge